.pagination {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .prev, .next {
    margin: 0 2rem;
    padding: 5px;

    svg {
      cursor: pointer;
    }

  }

  .current {

  }
}