

.icon-button {
  display: inline-flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
  border-radius: 3px;

  .text {
    padding: 5px;
    color: var(--color-main)
  }

  .icon {
    margin: 0 5px;
    width: 1.5rem;
  }

  &:hover {
    background-color: var(--color-positive);
    border-color: var(--color-main);

    .text, .icon {
      color: white;
    }
  }
}