@import "../../mixins";

nav {
  display: block;

  @include for-tablet-landscape-up {
    display: flex;
    align-items: baseline;
    padding: 1rem 0;
  }

  .search-overlay {
    position: absolute;
    height: 3rem;
    top: 3px;
    left: 0;
    display: inline-flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
    background-color: white;

    &.search-overlay--hide {
      display: none;
    }

    .search-overlay__input {
      flex: 1;
    }

    .search-overlay__close {
      padding: 0 1rem;
      cursor: pointer;

      svg {
        width: 1rem;
        height: 1rem;
        stroke-width: 4px;
      }
    }
  }

  .shopping-cart-nav {
    position: relative;
    display: none;

    @include for-tablet-landscape-up {
      display: inline-block;
      padding-right: 0.7rem;
    }

    svg {
      position: absolute;
      left: -2.5rem;
      top: -3px;
      width: 2.5rem;
      height: 2.5rem;
      stroke-width: 1px;
    }

    b {
      font-size: 1.5rem;
      padding-left: 0.8rem;
    }
  }

}

.shopping-cart-total {
  display: inline-block;

  svg {
    left: -2.5rem;
    top: -3px;
    width: 2.5rem;
    height: 2.5rem;
    stroke-width: 1px;
  }

  b {
    font-size: 1.5rem;
    padding-left: 0.8rem;
  }
}

.mobile-menu {
  position: absolute;
  width: 100%;
  display: none;
  z-index: 100;

  &.mobile-menu--show {
    display: block;

    @include for-tablet-landscape-up {
      display: none;
    }
  }

}

