@import "../../mixins";

.search-options {
  display: grid;
  border: 1px solid var(--border-color);
  border-top: 0;
  padding: 1rem;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  &.search-options--hide {
    display: none;
  }

  @include for-desktop-up {
    grid-template-columns: 1fr 1fr;
  }

  .search-options__option {
    display: inline-block;
  }

  label {
    display: block;
    padding: 0 5px 5px 0;
  }

  .range-selector {
    display: flex;

    span {
      padding: 0 0.5rem;
      text-align: center;
    }

    input {
      width: 5rem;
    }
  }
}
