@import "../../mixins";


.search-bar {
  position: relative;
  margin-bottom: 1rem;

  .search-bar__input {
    flex: 1;
    padding: 0.3rem 0.3rem 0.3rem 1rem;
    line-height: 1.5rem;
    border: 1px solid var(--border-color);
    border-right: 0;
    border-radius: 0;
    outline-color: var(--color-main);
    font-family: 'Lato', sans-serif;
  }

  .search-bar__search, .search-bar__options {
    padding: 0.3rem 1rem;
    border-radius: 0;
    border: 1px solid var(--border-color);

    svg {
      width: 1.5rem;
      height: 1.5rem;
      vertical-align: middle;
    }

    &:last-of-type {
      border-left: 1px solid transparent;
    }

    &:focus {
      border: 1px solid var(--color-main);
    }

    &:hover {
      background-color: var(--color-grey);
    }
  }
}

.autocomplete {
  position: absolute;
  display: block;
  list-style-type: none;
  width: 100%;
  border-left: 2px solid;
  border-right: 2px solid;
  background-color: white;
  z-index: 999;

  li {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--border-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: var(--color-grey);
    }
  }
}
