
.login-page {
  max-width: 300px;
  margin: 0 auto;
}

.login-page__switch {
  display: flex;
  align-items: baseline;
  margin: 1rem 0;

  h2 {
    display: inline-block;
    flex: 1;
    margin: 5px 0;
  }

  .register-link {
    text-decoration: underline;
  }

}

