.login-register-page {
  margin: 0 auto;
  width: 20rem;
}

.login-or-register {
  display: flex;
  align-items: baseline;
  margin: 1rem 0;

  h2 {
    display: inline-block;
    flex: 1;
    margin: 5px 0;
  }

  .register-link {
    text-decoration: underline;
  }

}

#login-register-form {

  input {
    width: 100%;
    margin-top: 3px;
    margin-bottom: 1rem;
  }
}

#login-register-submit {
  float: right;
  padding: 3px;
}