@import "../../mixins";

.product-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  margin: 1rem 0;

  @include for-tablet-portrait-up {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1400px) {
    grid-template-columns: repeat(3, 1fr);
  }


}

.product-tile {
  padding: 1rem;
  box-shadow: 0 2px 5px -1px rgba(0,0,0,0.6);
  overflow: hidden;
  background-color: white;
  border: 1px solid var(--border-color);
  border-bottom: 0;

  .image-wrapper {
    position: relative;
    padding: 42.25% 0 0 0;
  }

  img {
    position: absolute;
    display: block;
    max-width: 100%;
    max-height: 66%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .product-title {
    overflow: hidden;
    height: 2.4em;
  }

  .product-info {
    display: flex;
    align-items: baseline;

    .availability {
      flex: 1;
    }

    .price {
      flex: 1;
      text-align: right;
      font-weight: 700;
      font-size: 1.2rem;
    }

  }

}

