@import "mixins";
@import "inputs";

:root {
  --color-main: #5c2e4c;
  --color-positive: #9cb11c;
  --color-grey: #efefef;
  --color-grey-dark: #cacaca;
  --color-status-positive: #7ed321;
  --color-status-warning: #fcbf00;
  --color-status-negative: #da5173;
  --shadow: 0 1px 5px rgba(100, 100, 100, 0.8);
  --border-color: #ccc;
  --border-color-dark: rgb(0, 0, 0, 0.4);
  --main-grid-template-cols: 20% 80%;
  --main-grid-gap: 1.2rem;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: var(--color-main);

  @include for-tablet-landscape-up {
  }

  @include for-desktop-up {
    font-size: 16px;
  }

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-y: scroll;
}

.page {

  @include for-tablet-landscape-up {
    padding: 2% 10%;
  }

  @include for-desktop-up {
    padding: 2% 15%;
  }
}

.split-content-sidebar {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;

  @include for-tablet-landscape-up {
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "content sidebar";
    grid-gap: 2rem;
    padding: 0;
  }

}

/* Utility */

a {
  text-decoration: none;
  color: inherit;
}

.flex1 {
  flex: 1;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
}

.display-flex {
  display: flex;
  width: 100%;
}



