@import "../../mixins";

.category-tiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;

  @include for-desktop-up {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .category-tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    height: 4rem;
    box-shadow: var(--shadow);
  }
}